// Media Query Breakpoints
@mixin breakpoint($point) {
  @if $point == fullMainContent {
    @media (min-width: 1363px) {
      @content;
    }
  }
  @if $point == fullMainContent2 {
    @media (min-width: 1558px) {
      @content;
    }
  }
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #3d3e3f;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ui.inverted.menu .blue.active.item {
  background-color: transparent;
  color: #2185d0 !important;

  &:hover {
    color: #65b4f0 !important;
  }
}

#root {
  height: 100%;
  display: flex;
  align-items: center;
}

.ui.left.rail {
  display: flex;

  &.internal {
    align-items: flex-start !important;
    justify-content: flex-start !important;
    height: auto;
  }

  &.attached {
    align-items: center;
    justify-content: flex-end;
  }
}

.project-image {
  max-width: 100%;
  min-height: 100px;
  max-height: 500px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 4px;
}

.ui.cards > .card.new-project-card {
  padding: 10px !important;

  .content.new-project-card-content {
    background-position: bottom center;
    background-size: auto 65%;
    background-repeat: no-repeat;
    min-height: 12rem;
  }
}

.ui.message {
  margin-bottom: 0;
}

.big-content {
  height: 100%;
  width: 100%;
  overflow-y: auto;

  &::-webkit-scrollbar-thumb {
    background: #3084d0 !important;

    &:hover {
      background: #3084d099 !important;
    }
  }
}

.project-card {
  overflow: hidden;
  width: 200px !important;
  max-height: 200px;

  .mini-project-image {
    max-width: 100%;
    max-height: 100px;
    overflow: hidden;
  }
}

.techstack-logo {
  max-width: 50px;
  max-height: 50px;
}

.mobile-navigation {
  visibility: hidden;
}

.desktop-navigation {
  visibility: visible;
}

.mobile-tech-stack {
  display: none !important;
}

.mobile-navigation-dropdown {
  display: none !important;
}

@media only screen and (max-width: 1560px) {
  .desktop-navigation .ui.navigation-menu {
    width: auto;
  }
}

@media only screen and (max-width: 1375px) {
  .desktop-navigation .ui.navigation-menu a {
    display: flex !important;
    align-items: center;
    justify-content: center;

    .title-text {
      display: none;
    }
  }
}

@media only screen and (max-width: 1030px) {
  .ui.container {
    width: 100% !important;
  }

  .mobile-navigation {
    visibility: visible;
  }

  .desktop-navigation {
    visibility: hidden;
  }
}

@media only screen and (max-width: 700px) {
  .mobile-navigation-dropdown {
    display: flex !important;
  }

  .mobile-navigation-item {
    display: none !important;
  }

  .ui.menu .ui.dropdown .menu > .item .icon:not(.dropdown).large {
    font-size: 2em !important;
  }
}

@media only screen and (max-width: 630px) {
  .desktop-tech-stack {
    display: none !important;
  }

  .mobile-tech-stack {
    display: inline-flex !important;
  }
}

@media only screen and (max-width: 400px) {
  #root > .ui.container {
    margin: 0 !important;

    > .ui.segment {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
